// Specific CSS for your home-page

.home-banner {
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  height: 70vh;

.home-container{
  padding-left: 150px;
  padding-top: 100px;
}

}
.home-title {
  color: white;
  font-size: border;
}

.home-cta {
  border-radius: 30px;
  border: 1px black solid;
  color:white;
  background-color:rgba(233, 0, 50, 0.945);

  &:hover {
    text-decoration: none;
    transform: translateY(-2px)
  }
}

.home-h2 {
  color: white;
  font-weight: bolder;
  padding-top: 50px;
}

.home-cards{
  height: 80vh;
}

.background-tagline{
background-position: cover;
background-color: black;
}

.paraph{
  background: cover;
  color: rgb(128, 19, 0);
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  height: 50vh;
}

.paraph p {
  padding-top: 3em;
}
