// Specific CSS for your home-page

.home-banner {
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  height: 70vh;
}

.home-container{
  padding-left: 80px;
  padding-top: 100px;
}

.home-title {
  color: white;
  font-size: border;
}

.home-cta {
  font-size: 22px;
  border-radius: 15px;
  border: 1px black solid;
  font-size: bolder;
  color:white;
  padding: 9px;
  background-color: #f31a0aef;
  margin-right: 20px;

  &:hover {
    text-decoration: none;
    transform: translateY(-2px)
  }
}

.home-private {
  font-size: 22px;
  margin-left: 20px;
  border-radius: 15px;
  border: 1px black solid;
  font-size: bolder;
  color:white;
  padding: 9px;
  background-color: #f31a0aef;

  &:hover {
    border: 1px #e4a425 solid;
    background-color: #e4a425;
    text-decoration: none;
    transform: translateY(-2px)
  }
}

.home-h2 {
  color: white;
  font-weight: bolder;
  padding-top: 50px;
}

.home-cards {
  height: 80vh;
}

.background-tagline {
  background-position: cover;
  background-color: black;
}

.paraph {
  background: cover;
  color: rgb(243, 3, 3);
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
  height: 50vh;
}

.paraph p{
  padding-top: 1em;
}
