.dictator-card {
  height: 80vh;

  .dictator-card-price {
    font-size: 3em;
  }

  .left .dictator-picture {
    margin-left: -3em;
    margin-top: 2em;

    border-radius: 100%;
    border: 10px solid black;
    width: 200px;
    height: 200px;
  }

  .subcard {
    color: white;
    border-radius: 1em;
  }

  .black-subcard {
    background-color: black;
    width: 40%;
    height: 80%;
    position: relative;
  }

  .red-subcard {
    background-color: red;
    height: 80%;
    width: 200%;
    position: absolute;
    top: 0;
    left: 50%;
  }
}

.dictator-rent-form-wrapper {
  background-color: gray;
}
