

<div class="footer" >
  <div class="footer-links">
    <a href="#" title>Support</a>
    <a href="#" title>Community</a>
    <a href="#" title>About</a>
  </div>
  <div class="footer-copyright">
    This dictator website is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
