

<div class="footer" >
  <div class="footer-links">
    <a href="#" title>Support</a>
    <a href="#" title>Community</a>
    <a href="#" title>About</a>
  </div>
  <div class="footer-copyright">
GENERAL TERMS AND CONDITIONS  </div>
</div>
