<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_url('home-banner.jpg') %>);">
  <div class="home-container">
    <h1 class="home-title" >Discover all Dictators!</h1>
    <h2 class="home-h2">Make your life easier, book a dictator</h2>
  </div>
</div>


<div class="background-tagline">
  <div class="container paraph">
      <%= link_to 'Edition 2021', dictators_path, class: "btn btn-danger home-cta" %>
    <p>For any need, if you want to impose an authoritarian and corrupt regime, control canteen's menu or just make your annoying neighbors flee, we are available to serve you 24 hours a day, 7 days a week, 365 days a year.</p>
  </div>
</div>
