.footer {
  background: #c00e0e;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 0px 50px;
  color: rgb(248, 244, 244);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: whitesmoke;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
