<div class="container my-5">
  <div class="cards">
    <% @dictators.each do |dictator| %>
      <%= link_to dictator_path(dictator), class:"link-no-decoration" do %>
        <div class="card-product">
          <%= cl_image_tag dictator.picture.key %>
          <div class="card-product-infos">
            <h2><%= dictator.name %></h2>
            <span class="flag-icon flag-icon-<% dictator.country%>"> </span>
            <p> <%= dictator.description.first(50) %>...See more</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
